body{
    background:#d1d0d0;
    font-family: 'Nunito Sans', sans-serif;
}
.seccion{
    width: 90%;
    margin: 0 auto;
    border: 0 solid;
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s all;

}
.seccion:hover{
    background-color: rgb(228, 227, 227);
}
#banner{
    width: 100%;
    border: 5px solid;
}
#caja0{
    width: 90%;
    margin: 0 auto;
}

h3{
    font-size: 30px;
    margin: 0 auto;
    padding-bottom: 40px;
}

/*****************************SECCION DE DATOS INICIALES*/

#caja1{
    color:rgb(14, 14, 14);
}
.lista-uno img {
    width: 40px;
    padding: 10px 20px 10px 20px;
}
.lista-uno{
    vertical-align: top;/*alineacion: hacia arriba*/
    width: 45%;
    display: inline-block;
    padding: 15px
}
.seccion h2{
    font-size: 2.5vh;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px blue;
}
.lista{
    font-style: italic;
    font-size: 20px;
    padding-top: 15px;
}
#datos-personales{
    margin-bottom: 20px;
}
.perfil{
    margin-top: -150px;
    width: 18%;
    border-radius: 50%;
    border: 5px solid black;

}
.datos-personales li{
    display: inline-block;/*indica que el espacio que ocupa, solo use el que necesita*/
    vertical-align: top;/*alineacion*/
}
#parrafo{
    font-size: 2vh; 
    text-align: justify;
}

strong{
    color: crimson;
}

/***************************SECCION DE PORTAFOLIO*/

.img-portafolio{
    height: 10vw;
    padding-bottom: 30px;

}
.lista-portafolio{
    margin: 0 auto;
    vertical-align: top;/*alineacion: hacia arriba*/
    
}
.lista-portafolio li{
    display: inline-block;
    width: 20%;
    text-align: center;
    background: #f3f0ff;
    margin: 0 3% 0 0; /*Espacio entre cajas */
    padding: 30px 20px;
    box-sizing: border-box;
    height: 390px;
    vertical-align: top;
    border: 3px solid black;
    border-radius: 3%;
}
.lista-portafolio li:hover{
    border-color: dodgerblue;
}
.lista-portafolio h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}
.lista-portafolio li:hover h2{
    font-size: 22px;
    margin-bottom: 28px;
}
.lista-portafolio p{
    padding-bottom: 30px;
}


/*********************************SECCION DE FORMULARIO DE CONTACTO*/
form label{
    display: block;
    margin-bottom: 10px;
}
form input{
    display: block;
    margin-bottom: 15px;
    padding: 7px 7px;
    width: 35%;
}
form #enviar{
    padding: 10px 30px;
    width: 220px;
    font-size: 18px;
    font-family:sans-serif;
    font-weight:bold;
    color: white;
    background: #757575;
    border:none;
    border-radius: 3px;
    transition: 1.5s background;
    cursor: pointer;
}
form #enviar:hover{
    background: black;
    border: 1px solid rgb(0, 174, 255);
    border-radius: 3px;
    padding: 9px 30px;
}
form textarea{
    padding: 7px 7px;
    width: 35%;
    margin-bottom: 15px;
}

/************************************SECCION DE FOOTER*/

footer {
    top:3.5vh;
    right: 9%;
    text-align: center;
    margin: 5px auto;
    background-color:rgb(32, 58, 58);
}
footer div{
    margin-top: 40px;
    display: inline-block;
    align-items: center;
}
footer img{
    width: 40px;
    filter: invert(0.9);
    padding: 10px 20px 10px 20px;
    transition: 0.5s all;
}
footer img:hover{
    transform: scale(1.1);
    filter: invert(3);
}
footer ul{
    margin: 20px;
}
footer li{
    display: inline-block;
}
footer p{
    color: white;
    font-size: 12px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
}
