#caja1{
    color:rgb(14, 14, 14);
}
.lista-uno img {
    width: 40px;
    padding: 10px 20px 10px 20px;
}
.lista-uno{
    vertical-align: top;/*alineacion: hacia arriba*/
    width: 45%;
    display: inline-block;
    padding: 15px
}
.seccion h2{
    font-size: 2.5vh;
    margin-bottom: 30px;
}
.lista{
    font-style: italic;
    font-size: 20px;
    padding-top: 15px;
}
#datos-personales{
    margin-bottom: 20px;
}
.perfil{
    margin-top: -150px;
    width: 18%;
    border-radius: 50%;
    border: 5px solid black;

}
.datos-personales li{
    display: inline-block;/*indica que el espacio que ocupa, solo use el que necesita*/
    vertical-align: top;/*alineacion*/
}
#parrafo{
    font-size: 2vh; 
    text-align: justify;
}
strong{
    color: crimson;
}