body{
    background: #ccd6ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
#parrafo{
    font-size: 20px; 
    text-align: justify;
    background: #cccccc;
}
strong{
    color: crimson;
}