body{
    background: #ccd6ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background: rgb(60, 60, 70);
    height: 9vh;
}
.techo{
    width: 80%;
    position: relative;
    margin: 0 auto;

}
#logo {
    height: 8vh;
    float: left;
    padding: 0.5vh;
}
nav{
    position: absolute;
    top:3.5vh;
    right: 9%;
}

nav ul {
    display: ruby;
    margin: 0 0 0 2%;
}
nav a{
    font-family: Tahora;
    text-transform: uppercase;
    color:#cccccc;
    font-weight: bold;
    font-size: 1vw;
    text-decoration: none;
    margin: 0 0 0 1.5vw;
}
nav a:hover{ /*cuando pasa el mouse "hover"*/
    color: cornflowerblue;
}


#banner{
    width: 100%;
    border: 5px solid;
}
#caja1{
    background: #5f61fc;
    padding: 2%;
    margin: 2%;
    border: 5px solid;
}
.lista{
    font-style: italic;
}
.datos-personales li{
    display: inline-block;/*indica que el espacio que ocupa, solo use el que necesita*/
    vertical-align: top;/*alineacion*/
    width: 40%;
    margin-right: 30%;
}
.perfil{
    width: 15%;

}
#caja2{
    background: #5f61fc;
    padding: 5%;
    margin: 2%;
    border: 5px solid;
}
#parrafo{
    font-size: 20px; 
    text-align: justify;
    background: #cccccc;
    padding: 5%;
    margin: 2%;
    border: 10px solid;
}
strong{
    color: crimson;
}
