.hobbies-skills__hobbies__titulo,.hobbies-skills__skills__titulo{
    font-family: 'Acme', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #0071BC;
    padding-bottom: 1rem;

}
.hobbies-skills:hover{
    background-color: rgb(255, 255, 255);
    opacity: 1;
}
.hs-items{
    display: flex;
    padding-top: 3rem;
    justify-content: space-around; /*para que quede uno al lado del otro*/
    align-items: center;
}
.hs-item{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hs-item__imagen1{
    background-image: url("../../media/Hobies/natacion.png");
}
.hs-item__imagen2{
    background-image: url("../../media/Hobies/mascotas.png");
}
.hs-item__imagen3{
    background-image: url("../../media/Hobies/peliculas.svg");
}
.hs-item__imagen4{
    background-image: url("../../media/Hobies/comida_rapida.png");
}
.imagen__hobbie{
    border-radius: 50%;
    border: 5px solid black;
}
.hs-items__1{
    padding-bottom: 4rem;
}
.hs-item__titulo{
    font-size: 1.3rem;
    padding-bottom: 1rem;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
}
.hs__imagen {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;/*Centrar imagen*/
    height: 15vw;
    width: 15vw;
    margin-bottom: 1rem;
}
.hs-item__skill__imagen1{
    background-image: url("../../media/skills/js.png");
}
.hs-item__skill__imagen2{
    background-image: url("../../media/skills/html5.png");
}
.hs-item__skill__imagen3{
    background-image: url("../../media/skills/css3.png");
}
.hs-item__skill__imagen4{
    background-image: url("../../media/skills/php.png");
}
.hs-item__skill__imagen5{
    background-image: url("../../media/skills/java.png");
    background-size: cover;
}
.hs-item__skill__imagen6{
    background-image: url("../../media/skills/sql.png");
}
.hobbies-skills__skills__titulo{
    text-shadow: 0.1rem 0.1rem #333;
}
@media screen and (max-width:480px) {
    .hs-items{
        flex-direction: column;
        padding-top: 1rem;
    }
    .hs-item__skill__imagen5{
        width: 8rem;
    }
    .hs-item__skill__imagen6{
        width: 8rem;
    }
    .imagen__skill{
        border-radius: 50%;
        border: 4px solid black;
    }
    .hs__imagen{
        width: 30vw;
        height: 30vw;
    }

    
}