.porta{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5rem 0 5rem;
    margin-top: 0;
    justify-content: center;
}
.portafolio{
    display: flex;
    flex-direction: column;
    margin: 2rem 1.5rem 5rem 1.5rem;
    width: 40%;
    align-items: center;
    text-align: center;
    border-radius: 4%;
}
.portafolio__imagen{
    width: 13rem;
    height: 13rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 5px solid black;
    margin: 2rem 0 2rem 0;

}
.imagen__portafolio{
    width: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 0 0 2.5rem
}
.imagen__portafolio__p{
    height: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.portafolio_subtitulo{
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 1rem;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
}
.descripcion{
    font-family: 'Titillium Web', sans-serif;
    line-height: 1;
}
.portafolio__botton{
    text-align: center;
    margin: 1rem 0 1rem 0;
    width: 5rem;
    text-transform:capitalize;
    padding: 4px 4px 4px 4px;
    background-color: #0071BC;
    border-radius: 6px;
}
.portafolio__botton a{
    color: #ffffff;
    text-decoration: none;
}
.portafolio__botton a:hover{
    color: black;
}
}
@media screen and (max-width: 480px) {
    
    .portafolio_subtitulo{
        font-size: 1.2rem;
    }
    .porta{
        flex-direction: column;
        align-items: center;
        padding: 0;

    }
    .portafolio{
        width: 100%;
        margin: 2rem 0 2rem 0;
    }
    
    
}