.sobremi__parte1 {
  display: flex; /*separa los bloques*/
  align-items: center; /*alinea los hijos verticalmente*/
  padding-bottom: 40px;
}
.sobremi__foto__div {
  width: 40rem;
  padding-right: 80px;
}
.sobremi__foto {
  width: 100%;
  border-radius: 50%;
  border: 5px solid black;
}
.sobremi__titulo {
  font-family: "Acme", sans-serif;
  font-size: 5rem;
  margin-bottom: 40px;
  color: #0071bc;
  font-weight: 300;
}
.sobremi__parrafo {
  font-size: 1.5rem;
  text-align: justify;
}
.sobremi__parte2 {
  display: flex; /*separa los bloques*/
  align-items: center; /*alinea los hijos verticalmente*/
  padding-bottom: 40px;
}
.sobremi__datos {
  width: 34rem;
  font-size: 2rem;
}
.sobremi__datos strong {
  font-weight: bold;
}

.sobremi__datos__lista {
  width: 100%;
}
.sobremi__redes {
  display: flex;
}
.sobremi__redes__item img {
  width: 30%;
}
.sobremi__redes__item img:hover {
  transform: scale(1.1);
}
.sobremi__parte2__titulo {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #3336e2;
}
@media screen and (max-width: 480px) {
  .sobremi__parte1 {
    display: block;
  }
  .sobremi__foto__div {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .sobremi__foto {
    width: 80%;
  }
  .sobremi__datos__lista{
    width: 90%;
  }
  .sobremi__titulo {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
  }
  .sobremi__parte2 {
    display: block;
  }
  .sobremi__datos {
    font-size: 1.5rem;
    margin-bottom: 20px;
    width: 100vw;
  }
  .sobremi__redes__item img {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .sobremi__redes a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
