.sobremi__parte1{
    display: flex;/*separa los bloques*/
    align-items: center; /*alinea los hijos verticalmente*/
    padding-bottom: 40px;
}
.sobremi__foto__div{
    width: 40rem;
    padding-right: 80px;
}
.sobremi__foto{
    width: 100%;
    border-radius: 50%;
    border: 5px solid black;
}
.sobremi__titulo{
    font-family: 'Acme', sans-serif;
    font-size: 5rem;
    margin-bottom: 40px;
    color: #0071BC;
    font-weight:300;
}
.sobremi__parrafo{
    font-size: 1.5rem;
    text-align: justify;
}
.sobremi__parte2{
    display: flex;/*separa los bloques*/
    align-items: center; /*alinea los hijos verticalmente*/
    padding-bottom: 40px;
}
.sobremi__datos{
    width: 34rem;
    font-size: 2rem;
}
.sobremi__datos strong{
    font-weight:bold;
}

.sobremi__datos__lista{
    width: 100%;
}
.sobremi__redes{
    display: flex;
}
.sobremi__redes__item img{
    width: 30%;
}
.sobremi__redes__item img:hover{
    transform: scale(1.1);
}
.sobremi:hover{
    background-color: rgb(255, 255, 255);
    opacity: 1;
}
.sobremi__parte2__titulo{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #3336e2;
}