.menu__movil{
    display: none;
}
.cabecera{
    background-color:rgb(32, 58, 58);
    align-items: center;
    display: flex;
    justify-content: space-between;/*distribuir contenido*/
    padding-left: 2rem;
    padding-right: 2rem;
}
.cabecera__logo {
    height: 8vh;
    margin-top: 4px;
    margin-bottom: 4px;
}
.cabecera__menu{
    font-family: 'Titillium Web', sans-serif;
}
.cabecera__lista__menu {
    display: flex;
}
.cabecera__item {
    list-style: none;
}
.cabecera__item a{
    
    text-transform: uppercase;
    color:#ffffff;
    font-size: 1rem;
    text-decoration: none;
    margin: 0 0 0 1.5vw;
}
.cabecera__item a:hover{ /*cuando pasa el mouse "hover"*/
    color: cornflowerblue;
}
@media screen and (max-width:480px){
    .cabecera{
        padding-right: 2px;
        padding-left: 2px;
    }
    .cabecera__lista__menu{
        display: ruby;
    }
    .cabecera__item{
        margin: 10px 0 10px 0;


    }
    .cabecera__item a{
        margin-left: 0px;
        margin-right: 0px;
        font-size: 15px;
        border-right: 2px solid #ffffff;
        padding: 0px 5px 0px 5px;
    }
    .cabecera__logo{
        display: none;
    }

}